doctype html
html
  head
    title= 'Nashville Software School Cohort 23'
    link(rel='stylesheet', href='public/css/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Kavivanar')
  body
    #header
      img(src='public/img/nss.svg')
    block content