extends base.pug

block content
  h1= 'Nashville '
    span= 'Software School'
  #school
    .img
      img(src='public/img/group1.jpg')
      img(src='public/img/group2.jpg')
    h3= 'Cohort 23'
  include class.pug
  include charts.pug
  include tech.pug