@font-face {
  font-family: 'Carta Magna';
  src: url("/public/fonts/cm.ttf") format("truetype"); }

body {
  margin: auto;
  text-align: center;
  background: radial-gradient(ellipse at center, #fff 0%, #fff 75%, #EBE1DF 100%);
  display: grid;
  grid-gap: .6rem;
  padding: 1rem;
  grid-template-columns: repeat(2, 1fr); }
  @media (min-width: 30rem) {
    body {
      grid-template-columns: repeat(4, 1fr); } }
  @media (min-width: 45rem) {
    body {
      grid-template-columns: repeat(6, 1fr); } }
  @media (min-width: 65rem) {
    body {
      grid-template-columns: repeat(8, 1fr); } }

img {
  max-width: 100%; }

h1 {
  font-family: 'Carta Magna';
  font-weight: 400;
  font-size: 3rem; }

h4 {
  font-family: 'Kavivanar';
  font-weight: 400; }

#header {
  grid-column: 1 / span 2; }
  @media (min-width: 30rem) {
    #header {
      grid-column: 1 / span 4; } }
  @media (min-width: 45rem) {
    #header {
      grid-column: 1 / span 6; } }
  @media (min-width: 65rem) {
    #header {
      grid-column: 1 / span 8; } }

#school {
  background-size: cover;
  background-position: center;
  min-height: 15rem;
  grid-row: 2 / span 1;
  grid-column: 1 / -1;
  filter: sepia(20%) grayscale(60%) brightness(90%) contrast(120%) brightness(110%); }
  @media (min-width: 45rem) {
    #school {
      margin: 0 17%; } }
  @media (min-width: 65rem) {
    #school {
      margin: 0;
      grid-column: 3 / span 4; } }

.student img {
  border-radius: 50%;
  filter: sepia(20%) grayscale(60%) brightness(60%) contrast(120%) brightness(160%); }

.student h4 {
  margin: .25rem 0 0 0; }
